@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager _nav;


<AuthorizeView>
    <Authorized>
        <div class="nav-menu">
            <div class="page-link" @onclick="@(() => _nav.NavigateTo("/"))">
                @(isNavMenuCollapsed ? "" : "Home ")<i class="fa-solid fa-house"></i>
            </div>
            @if (context.User.IsInRole("Admin"))
            {
                <div class="page-link" @onclick="@(() => _nav.NavigateTo("/users"))">
                    @(isNavMenuCollapsed ? "" : "Users ")<i class="fa-solid fa-users"></i>
                </div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="nav-menu">
            <div class="page-link" @onclick="@(() => _nav.NavigateTo("/"))">
                @(isNavMenuCollapsed ? "" : "Home ")<i class="fa-solid fa-house"></i>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


<button @onclick="ToggleNavMenu"><i class="fa-solid fa-arrow-@(isNavMenuCollapsed ? "right" : "left")"></i></button>

@code {
    [Parameter]
    public EventCallback OnCollapseMenu { get; set; }

    private bool isNavMenuCollapsed = false;


    private async Task ToggleNavMenu()
    {
        isNavMenuCollapsed = !isNavMenuCollapsed;
        await OnCollapseMenu.InvokeAsync();
    }
}
